* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--second-text-color);
}

:root {
    --background-color: #f1f1f1;
    --border-color: #9C9FA8;
    --background-modal-color: #080707;
    --description-color: #696a6b;
    --text-color: #FFFFFF;
    --second-text-color: #000000;
    --error-color: #B3001B;
    --like-color: #f94762;
    --primary-colors: #866fc5;
    --primary-color: #3c85de;
    --accent-color: #317ad3;
    --background-message-color: #FFFFFF;
    --hover-color: rgba(69, 69, 69, 0.3);

}

body {
    background-color: var(--background-color);
    overflow: hidden;
}

#sidebar {
    background-color: transparent;
    width: 240px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-self: start;
    padding: 5px 1em;
    box-sizing: border-box;
    border-right: 1px solid var(--border-color);
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar #user-list-containers h3 {
    opacity: 1;
    height: auto;
    transition: opacity 300ms ease-in-out, height 300ms ease-in-out;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar.close #user-list-containers h3 {
    opacity: 0;
    height: 0;
    overflow-y: auto;
}

.logo-name {
    display: flex;
    align-items: center;
}

#sidebar ul {
    flex-grow: 0;
    list-style: none;
}

#sidebar .icon {
    flex-shrink: 0;
}

#sidebar a span {
    flex-grow: 1;
}

#sidebar a,
#sidebar .name,
#sidebar #user-list-containers {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    gap: 1em;
    transition: color .25s ease, fill .25s ease;
}

#sidebar #user-list-containers {
    flex-grow: 1;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -8px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

#sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#sidebar a:hover {
    background-color: var(--hover-color);

    >span {
        color: var(--primary-color);
    }

    >svg {
        fill: var(--primary-color);
        transition: fill 0.3s ease;
    }
}

#sidebar>ul>li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

#toggle-menu-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
}

#container {
    display: grid;
    grid-template-columns: auto 1fr;
    overflow: hidden;
}

#header {
    background-color: transparent;
    display: flex;
    width: 100%;
    height: 50px;
    padding: 1em;
    align-items: center;
    box-sizing: border-box;
}

.profil-menu {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
}

#dark-mode-toggle {
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--second-text-color);
    color: var(--text-color);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

#login-btn {
    width: 70px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.chat-box {
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

#users-post {
    position: relative;
    background-color: transparent;
    scrollbar-width: none;
    flex-grow: 1;
    list-style: none;
    overflow-y: auto;
    padding: 0;
    overflow-x: hidden;
    max-height: 100vh;
    margin-right: 80px;
    width: 45vw;
    border: 1px solid var(--border-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#users-post>li:last-child:nth-child(odd) {
    grid-column: span 2;
    /* Aide à visualiser */
    box-sizing: border-box;
}


.message-item {
    display: flex;
    position: relative;
    background-color: var(--background-message-color);
    padding: 25px;
    border-bottom: 1px solid var(--border-color);
    animation: fadeIn 0.85s forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.username {
    font-weight: 600;
}

.timestamp {
    color: var(--description-color);
}

.message-header {
    display: flex;
    gap: 12px;
    width: 100%;
    flex: 1;
}

.message-header button {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-left: 10px;
}

.reaction-btn {
    display: flex;
    align-items: center;
    gap: 40px;
    /* Espacement entre les boutons */
    margin-top: 10px;
}

.reaction-btn button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition: transform .15s ease;
    box-sizing: border-box;
}

.reaction-btn button svg {
    margin-top: 6px;
    width: 1.75em;
    height: 1.75em;
}


.reaction-btn button:hover {
    transform: scale(102%);
    /* Légèrement agrandir au survol */
}

.reaction-btn button:first-child:hover {
    >svg {
        fill: var(--primary-color);
    }
}

.reaction-btn button:last-child:hover {
    >svg {
        fill: #00700c;
    }
}


#add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#add-button:hover,
#login-btn:hover {
    background-color: var(--accent-color);
}

.modal-post {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    /* Fond sombre transparent */
}

.created-post {
    position: fixed;
    background-color: var(--background-message-color);
    top: 10%;
    left: 26.5%;
    border-radius: 8px;
    width: 40%;
    height: 260px;
    gap: 25px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Assombrit l'arrière-plan */
    z-index: 10;
    padding: 0 0 0 20px;
    /* Assure que .created-post est au-dessus */
    box-sizing: border-box;
    overflow-y: hidden;
}


.user-name {
    align-self: flex-start;
    padding-left: 20px;
    font-size: 18px;
}

.message-input {
    display: flex;
    border-radius: 8px;
    width: 100%;
    /* Adapte la largeur de la barre de message à celle de .created-post */
    margin: 0;
    flex-shrink: 0;
}

.message-input input {
    flex: 1;
    font-size: 16px;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
}

.post {
    align-self: center;
    font-size: 18px;
    margin-top: 10px;
}

#post-btn {
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 70px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color .25s ease;
}


#post-btn:hover {
    background-color: var(--accent-color);
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a;
}

.profil-picture {
    padding: 4px 0;
    margin-right: 7px;
}

.profil-picture img {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

/* Style pour le menu déroulant */
.menu {
    display: none;
    /* Menu caché par défaut */
    position: absolute;
    right: 0;
    top: 50px;
    right: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu-item {
    color: var(--second-text-color);
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.menu-item:hover {
    background-color: var(--background-message-color);
    color: #FFFFFF;
}

.menu-item:last-child {
    border: none;
}

.menu-item:last-child:hover {
    background-color: var(--error-color);
}

/* Afficher le menu lorsque la classe 'open' est ajoutée */
.menu.open {
    display: block;
}

.hashtag {
    color: rgb(107, 107, 255);
    /* Couleur bleue pour les hashtags */
    font-weight: bold;
    /* Mettre le hashtag en gras si vous le souhaitez */
    cursor: pointer;
}

#categories-container {
    max-height: 60vh;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: none;
}

#categories-list {
    list-style-type: none;
    /* Pour enlever les puces */
    padding: 0;
}

#categories-list li {
    padding: 5px 0;
    overflow-y: auto;
    cursor: pointer;
    transition: color .15s ease;
}

#categories-list li:hover {
    color: var(--primary-color);
}


.chat-center {
    display: flex;
    overflow-y: hidden;
    justify-content: flex-start;
    margin: 0 auto;
    /* Centrer la totalité de .chat-center */
}

.tendances {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    width: 35%;
    max-height: fit-content;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: var(--background-message-color);
}

#categories-container,
.trending-hashtags {
    margin-bottom: 20px;
    /* Espacer les sections dans tendances */
}

.comment-section {
    border-bottom: 1px solid var(--border-color);
    padding: 12px;
    box-sizing: border-box;
}

.profile-image {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin-right: 10px;
}

.comment-input-container {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 25px;
    box-sizing: border-box;
}

#create-comment-form {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#create-comment-form button {
    margin-left: 0;
    width: 50px;
    height: 40px;
    padding: 10px;
    border: none;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform .25s ease, background-color .25s ease;
}

#create-comment-form button:hover {
    transform: scale(102%);
    background-color: var(--accent-color);
}

#create-comment-form .comment-input {
    font-size: 18px;
    background: none;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    flex-grow: 1;
    margin-right: 10px;
}

.comment-input::placeholder {
    font-size: 18px;
}

.profil-picture {
    border-radius: 50%;
}

.profile-picture img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    object-fit: cover;
    align-self: center;
}

.profile-info {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info .user-name {
    align-self: center;
    font-size: 22px;
}

.sendBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.image-upload {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform .15s ease;

    >svg {
        fill: var(--primary-color);
    }
}

.image-upload:hover {
    transform: scale(105%);
}

.profile-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu {
    position: absolute;
    top: 45px;
    right: 10px;
    color: var(--second-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 80px;
    border-radius: 5px;
    list-style: none;
    display: none;
}

.profile-menu button {
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    transition: background-color .15s ease;
}

.profile-menu button:last-child:hover {
    background-color: var(--error-color);
}

.profile-menu button:hover {
    background-color: var(--hover-color);
}

#like-btn {
    display: flex;
    justify-content: space-evenly;

    >div {
        margin-top: 5px;
        font-size: 18px;
    }
}


#dislike-btn {
    display: flex;
    justify-content: space-evenly;

    >div {
        margin-top: 5px;
        font-size: 18px;
    }
}

#dislike-btn:hover {
    >svg {
        fill: var(--error-color);
    }
}

.like-btn.active {
    >svg {
        fill: var(--primary-color);
    }
}

.categorie {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    height: 180px;
    border-radius: 8px;
}